header{
    color: rgb(255,255,255);
    height: 120px;
    background:$color1;
    @include center;
    flex-direction: column;

    .title {
        @include center;
        max-width: 1260px;
        width: 90%;
        height: 60px;
        font-size: 1em;
    }

    .navigation-pages {
        color: rgb(255,255,255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        max-width: 1260px;
        width: 90%;
        height: 60px;

        .logo {
            height: 50px;
            width: 50px;
            background: rgb(234, 225, 225);
            
        }

        ul {
            display: flex;
            justify-content: space-between;
            @include center;
           
            
            li {
                padding: 0 19px;
                a {
                    color: rgb(255,255,255);
                    font-size: 1.3em;
                }
                
            }
        }

        form {
            @include center;
            color: #ffffff;
            font-size: 18px;
            font-weight: 300;
            label {
                margin-right: 5px;
            }
            input {
                border-radius: 10px;
                background: rgb(183, 183, 183);
                padding: 5px;
            }
        }

    }




}