.container-ptotools {
    background: red;
    
    .container-video {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 50px;
        
    }
}